.aboutMeContainer {
	margin: 100px 0;
	display: flex;

	.bio {
		padding-left: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.contactMe {
			margin-left: 0;
		}
	}

	h3 {
		border-bottom: 2px solid $purpleShade;
		padding-bottom: 10px;
	}
}

.buttonContainer a {
	width: 150px;
	text-align: center;
}

.imageContainer {
	filter: drop-shadow(-50px 0 0 #f0f0f0);
}

.profileImage {
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 50% 100%, 0 50%);
	width: 450px;
}

// MEDIA QUERIES

@media screen and (max-width: 1100px) {
	.aboutMeContainer {
		flex-direction: column;
		margin: 25px 0;

		.bio {
			margin-top: 50px;
			padding: 0;
		}
	}

	.imageContainer {
		margin: auto;
	}
}

@media screen and (max-width: 700px) {

	.bio,
	.buttonContainer {
		justify-content: center;
		text-align: center;
	}
}

@media screen and (max-width: 500px) {
	.profileImage {
		width: 390px;
	}
}

@media screen and (max-width: 400px) {
	.profileImage {
		width: 300px;
	}
}

@media screen and (max-width: 320px) {
	.profileImage {
		width: 280px;
	}
}