footer {
    background: #f0f0f0;
    padding: 25px 0;
}
footer h1 {
    text-align: center;
    padding-top: 0;
    font-size: 3rem;
}
.footerSocial {
    display: flex;
    justify-content: center;
    padding: 0 0 15px 0;
    li {
        padding: 0 15px;
    }
    i {
        font-size: 3rem;
    }
}