header {
    background-color: $purpleShade;
    min-height: 100vh;
    background-attachment: fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    h1 {
        color: $yellowAccent;
    }
    h2 {
        font-size: 4.5rem;
        line-height: 56px;
        text-align: center;
        font-weight: 700;
        padding: 10px 0;
        color: $offWhite;
    }
}

.introduction h2:last-child {
    font-weight: 300;
}

.navigationContainer {
    display: flex;
    justify-content: space-between;
    .navigation {
        display: flex;
        margin-bottom: 150px;
        a {
            color: $offWhite;
        }
    }
}

.navMobile {
    display: none;
}


.social {
    display: flex;
    .followMe h4 {
        font-size: 2.4rem;
        margin-right: 30px;
        font-weight: 300;
    }
}
.socialIcons {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 2.5%;
    top: 35%;
     li {
        padding-bottom:0;
         i {
            font-size: 2.4rem;
            color: $yellowAccent; 
        }
    }
}

.arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    i {
        font-size: 5rem;
        color: $yellowAccent;
    }
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}

@media screen and (max-width: 750px) {
    header {
        min-height: 80vh;
    }

    .introduction {
        padding-top: 100px;
    }
    // MOBILE NAVIGATION STYLES
    .navigationContainer {
        display: none
    }

    .navMobile {
        display: block;
        width: 100%;
        .hamburger {
            position: absolute;
            right: 50px;
            top: 50px;
            .icon {
                font-size: 4rem;
                color: $offWhite;
            }
        }
        .menu {
            display: none;
            background: $blackShade;
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            .icon {
                font-size: 4rem;
                color: #fff;
            }
            li {
                list-style: none;
                padding: 20px;
                text-align: center;
                a {
                    transition: color 0.5s ease-in;
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    header h2 {
        font-size: 3.5rem;
    }
    .socialIcons {
        display: none;
    }
}