.skills {
    background:  #f0f0f0;
    color: #232323;
    min-height: 50vh;
    h3 {
        text-align: center;
    }
   .skillsContainer {
       display: flex;
       justify-content: space-around;
       flex-wrap: wrap;
       i {
           font-size: 10rem;
       }
   }
}

.skills h3 {
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
}



