// Colors
$offWhite: #f0f0f0;
$greyShade: #e6e6e6;
$blackShade: #333;
$yellowAccent: #ffcc33;
$blueShade: #1d4fa2;


// Mixins 
@mixin heading($lineHeight, $fontSize, $fontWeight) {
    font-family: 'Poppins', sans-serif;
    color: $blackShade;
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
}

@mixin text ($lineHeight, $fontSize) {
    font-family: 'Poppins', sans-serif;
    font-size: $fontSize;
    line-height: $lineHeight;
}