.work {
    background: #fff;
}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
    .project,
    .description {
        display: flex;
        justify-content: space-around;
        margin: 50px 0;
    }
    .description {
        display: flex;
        width: 40%;
        flex-direction: column;
        h3 {
            text-transform: uppercase;
        }
        h4 {
            font-weight: 300;
            font-size: 2rem;
            padding-top: 15px;
            line-height: 30px;
        }
        a {
            font-weight: 700;
            font-size: 1.6rem;
        }
    }
}

.radflix,
.sophie {
    text-align: right;
}

.deviceImage img {
    max-width: 450px;
    margin-top: 40px;
}

.buttonContainer {
    display: flex;
    a {
        background: $offWhite;;
        padding: 15px;
        margin: 0 10px;
        &:hover {
            background: #1d4fa2;
            transition: 400ms ease-in;
            transform: scale(1.1);
            color: #fff;
        }
    }
}

.flexEnd {
    display: flex;
    justify-content: flex-end;
}