.work {
	background: #fff;
	margin: 100px 0;
}

.projectContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	.project,
	.description {
		display: flex;
		justify-content: space-between;
		margin-top: 50px;
		width: 100%;
	}
	.description {
		display: flex;
		width: 50%;
		flex-direction: column;
		h3 {
			text-transform: uppercase;
			font-weight: 700;
			border-bottom: 2px solid $blueShade;
			padding-bottom: 5px;
		}
		h4 {
			font-weight: 300;
			font-size: 2rem;
			padding-top: 15px;
			line-height: 30px;
			font-style: italic;
		}
		a {
			font-weight: 700;
			font-size: 1.6rem;
			&:hover {
				transition: 300ms ease-in;
				color: $yellowAccent;
			}
		}
	}
}

.radflix,
.mnmk9,
.emoji {
	text-align: right;
	.description {
		padding-right: 50px;
	}
	img {
		margin-right: 60px;
	}
}

.backInTimes,
.nerdy,
.linkMentalHealth {
	.description {
		padding-left: 50px;
	}
	img {
		margin-left: 60px;
	}
}

.deviceImage {
	max-width: 100%;
	img {
		max-width: 500px;
		margin-top: 40px;
	}
}

.buttonContainer {
	display: flex;
	a {
		background: $offWhite;
		padding: 15px;
		margin: 0 10px;
		border: 2px solid $blueShade;
		&:hover {
			background: $blueShade;
			transition: 200ms ease-out;
			transform: scale(1.1);
			color: #fff;
		}
	}
}

.flexEnd {
	display: flex;
	justify-content: flex-end;
}

// MEDIA QUERIES

// SMALL LAPTOP - LARGE TABLET
@media screen and (max-width: 1300px) {
	.project {
		flex-direction: column;
		img {
			order: 1;
			width: 600px;
			margin: 0;
		}
		.description {
			order: 2;
			width: 100%;
		}
	}
	.radflix,
	.mnmk9,
	.emoji {
		img {
			float: right;
		}
	}
}

// LARGE MOBILE && SMALL TABLET
@media screen and (max-width: 750px) {
	.work {
		margin: 50px 0;
	}
	.projectContainer .project,
	.project .description {
		align-items: center;
	}
	.wrapper {
		max-width: 95%;
		margin: 0 auto;
	}
	.radflix,
	.nerdy,
	.mnmk9,
	.backInTimes,
	.emoji,
	.linkMentalHealth {
		text-align: center;
		padding-right: 0;
	}

	.nerdy .description,
	.backInTimes .description,
	.linkMentalHealth {
		padding-left: 0;
	}

	.radflix .description,
	.mnmk9 .description,
	.emoji .description {
		padding-right: 0;
	}

	.radflix img,
	.mnmk9 img,
	.backInTimes img {
		float: none;
	}
	.flexEnd {
		justify-content: center;
	}
}

@media screen and (max-width: 500px) {
	.project {
		.deviceImage {
			img {
				max-width: 400px;
			}
		}
	}
}

@media screen and (max-width: 400px) {
	.project {
		.deviceImage {
			img {
				max-width: 280px;
			}
		}
		.description {
			h3 {
				font-size: 2rem;
			}
			h4 {
				font-size: 1.7rem;
			}
			p {
				@include text(30px, 1.6rem);
			}
		}
		.buttonContainer {
			display: flex;
			flex-direction: column;
			a {
				margin: 10px 0;
			}
		}
		.flexEnd,
		.buttonContainer {
			align-items: center;
		}
	}
}
