@charset "UTF-8";
/* SETUP STYLING STARTS */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html,
body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Monsterrat", sans-serif;
  color: #333;
  font-size: 3.6rem;
  line-height: 22px;
  font-weight: 700;
  padding-top: 65px;
}

h2 {
  font-family: "Monsterrat", sans-serif;
  color: #333;
  font-size: 3.6rem;
  line-height: 56px;
  font-weight: 700;
}

h3 {
  font-family: "Monsterrat", sans-serif;
  color: #333;
  font-size: 3.6rem;
  line-height: 22px;
  font-weight: 700;
}

h4 {
  font-family: "Monsterrat", sans-serif;
  color: #333;
  font-size: 2.4rem;
  line-height: 22px;
  font-weight: 400;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  line-height: 35px;
}

ul,
li {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  list-style: none;
  padding: 30px 15px;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

section {
  padding: 50px 0;
}

.sectionHeader {
  font-family: "Monsterrat", sans-serif;
  color: #333;
  font-size: 5rem;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 1185px) {
  * {
    -webkit-transition: all 700ms ease-in;
    -moz-transition: all 700ms ease-in;
  }
  .wrapper {
    max-width: 85%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 700px) {
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2.2rem;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    line-height: 35px;
  }
}
@media screen and (max-width: 400px) {
  .wrapper {
    max-width: 90%;
  }
  .sectionHeader {
    font-family: "Monsterrat", sans-serif;
    color: #333;
    font-size: 4rem;
    line-height: 22px;
    font-weight: 700;
  }
}
header {
  background-color: #6a1fff;
  min-height: 100vh;
  background-attachment: fixed;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
header h1 {
  color: #ffcc33;
}
header h2 {
  font-size: 4.5rem;
  line-height: 56px;
  text-align: center;
  font-weight: 700;
  padding: 10px 0;
  color: #f0f0f0;
}

.introduction h2:last-child {
  font-weight: 300;
}

.navigationContainer {
  display: flex;
  justify-content: space-between;
}
.navigationContainer .navigation {
  display: flex;
  margin-bottom: 150px;
}
.navigationContainer .navigation a {
  color: #f0f0f0;
}

.navMobile {
  display: none;
}

.social {
  display: flex;
}
.social .followMe h4 {
  font-size: 2.4rem;
  margin-right: 30px;
  font-weight: 300;
}

.socialIcons {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 2.5%;
  top: 35%;
}
.socialIcons li {
  padding-bottom: 0;
}
.socialIcons li i {
  font-size: 2.4rem;
  color: #ffcc33;
}

.arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
}
.arrow i {
  font-size: 5rem;
  color: #ffcc33;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@media screen and (max-width: 750px) {
  header {
    min-height: 80vh;
  }
  .introduction {
    padding-top: 100px;
  }
  .navigationContainer {
    display: none;
  }
  .navMobile {
    display: block;
    width: 100%;
  }
  .navMobile .hamburger {
    position: absolute;
    right: 50px;
    top: 50px;
  }
  .navMobile .hamburger .icon {
    font-size: 4rem;
    color: #f0f0f0;
  }
  .navMobile .menu {
    display: none;
    background: #333;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .navMobile .menu .icon {
    font-size: 4rem;
    color: #fff;
  }
  .navMobile .menu li {
    list-style: none;
    padding: 20px;
    text-align: center;
  }
  .navMobile .menu li a {
    transition: color 0.5s ease-in;
    color: #fff;
  }
}
@media screen and (max-width: 700px) {
  header h2 {
    font-size: 3.5rem;
  }
  .socialIcons {
    display: none;
  }
}
.aboutMeContainer {
  margin: 100px 0;
  display: flex;
}
.aboutMeContainer .bio {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutMeContainer .bio .contactMe {
  margin-left: 0;
}
.aboutMeContainer h3 {
  border-bottom: 2px solid #6a1fff;
  padding-bottom: 10px;
}

.buttonContainer a {
  width: 150px;
  text-align: center;
}

.imageContainer {
  filter: drop-shadow(-50px 0 0 #f0f0f0);
}

.profileImage {
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 50% 100%, 0 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 50% 100%, 0 50%);
  width: 450px;
}

@media screen and (max-width: 1100px) {
  .aboutMeContainer {
    flex-direction: column;
    margin-top: 50px;
  }
  .aboutMeContainer .bio {
    margin-top: 50px;
    padding: 0;
  }
  .imageContainer {
    margin: auto;
  }
}
@media screen and (max-width: 700px) {
  .bio,
  .buttonContainer {
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .profileImage {
    width: 390px;
  }
}
@media screen and (max-width: 400px) {
  .profileImage {
    width: 300px;
  }
}
@media screen and (max-width: 320px) {
  .profileImage {
    width: 280px;
  }
}
.skills {
  background: #f0f0f0;
}
.skills h3 {
  text-align: center;
  padding: 50px 0;
}
.skills .skillsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 0;
}
.skills .skillsContainer i {
  font-size: 8rem;
  cursor: pointer;
}
.skills .skillsContainer .row {
  display: flex;
  flex-wrap: wrap;
}
.skills li.skill {
  width: 110px;
}

h4.skillsTitle {
  text-align: center;
  padding-top: 40px;
  font-size: 1.8rem;
}

.firebaseText {
  padding-top: 3px;
  font-size: 1.8rem;
}

@media screen and (max-width: 655px) {
  .row .skillsContainer {
    justify-content: space-around;
  }
  .row .skillsContainer .skillsContainer:first-child {
    margin-top: 50px;
  }
  h4.firebaseText {
    padding-top: 0;
  }
}
@media screen and (max-width: 525px) {
  .row {
    width: calc(33.33% - 20px);
    margin: 10px;
    float: left;
  }
}
@media screen and (max-width: 400px) {
  .skills h3 {
    padding: 0;
  }
  .row {
    width: calc(33.33% - 10px);
    margin: 5px;
    float: left;
  }
}
@media screen and (max-width: 350px) {
  .row {
    width: calc(100% - 20px);
    margin: 10px;
    float: left;
  }
}
.work {
  background: #fff;
  margin: 100px 0;
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.projectContainer .project,
.projectContainer .description {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
}
.projectContainer .description {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.projectContainer .description h3 {
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 2px solid #6a1fff;
  padding-bottom: 10px;
}
.projectContainer .description h4 {
  font-weight: 300;
  font-size: 2rem;
  padding-top: 15px;
  line-height: 30px;
  font-style: italic;
}
.projectContainer .description a {
  font-weight: 700;
  font-size: 1.6rem;
}
.projectContainer .description a:hover {
  transition: 300ms ease-in;
  color: #ffcc33;
}

.radflix,
.brooklyn {
  text-align: right;
}
.radflix .description,
.brooklyn .description {
  padding-right: 50px;
}
.radflix img,
.brooklyn img {
  margin-right: 60px;
}
.radflix .button,
.brooklyn .button {
  margin-right: 0;
}

.mnmk9 .description,
.crushing-limits .description {
  padding-left: 50px;
}
.mnmk9 img,
.crushing-limits img {
  margin-left: 60px;
}
.mnmk9 .button,
.crushing-limits .button {
  margin-left: 0;
}

.deviceImage {
  max-width: 100%;
}
.deviceImage img {
  max-width: 500px;
  margin-top: 40px;
}
.deviceImage img:hover {
  transform: rotate(5deg);
  transition: transform 300ms ease-in;
  animation: shake 800ms cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.buttonContainer {
  display: flex;
}
.buttonContainer a {
  background: #f0f0f0;
  padding: 15px;
  margin: 0 10px;
  border: 2px solid #6a1fff;
}
.buttonContainer a:hover {
  background: #6a1fff;
  transition: 200ms ease-out;
  transform: scale(1.1);
  color: #fff;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1300px) {
  .project {
    flex-direction: column;
  }
  .project img {
    order: 1;
    width: 600px;
    margin: 0;
  }
  .project .description {
    order: 2;
    width: 100%;
  }
  .radflix img,
  .mnmk9 img,
  .emoji img {
    float: right;
  }
}
@media screen and (max-width: 750px) {
  .work {
    margin: 50px 0;
  }
  .projectContainer .project,
  .project .description {
    align-items: center;
  }
  .wrapper {
    max-width: 95%;
    margin: 0 auto;
  }
  .radflix,
  .nerdy,
  .mnmk9,
  .backInTimes,
  .crushing-limits,
  .mnmk9 {
    text-align: center;
    padding-right: 0;
  }
  .nerdy .description,
  .backInTimes .description,
  .linkMentalHealth .description {
    padding-left: 0;
  }
  .radflix .description,
  .mnmk9 .description,
  .emoji .description {
    padding-right: 0;
  }
  .radflix img,
  .mnmk9 img,
  .backInTimes img {
    float: none;
  }
  .flexEnd {
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .project .deviceImage img {
    max-width: 400px;
  }
}
@media screen and (max-width: 400px) {
  .project .deviceImage img {
    max-width: 280px;
  }
  .project .description h3 {
    font-size: 2rem;
  }
  .project .description h4 {
    font-size: 1.7rem;
  }
  .project .description p {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    line-height: 30px;
  }
  .project .buttonContainer {
    display: flex;
    flex-direction: column;
  }
  .project .buttonContainer a {
    margin: 10px 0;
  }
  .project .flexEnd,
  .project .buttonContainer {
    align-items: center;
  }
}
.contact {
  background: #6a1fff;
  position: relative;
  padding: 100px 0;
}
.contact h3 {
  color: #f0f0f0;
}

.contactContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.contactForm {
  margin-top: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contactForm input,
.contactForm .message {
  padding: 15px 30px;
  margin: 10px;
  width: 100%;
  color: #232323;
  font-size: 1.8rem;
}
.contactForm .submit {
  width: 100%;
  background: #f0f0f0;
  color: #8C52FF;
}
.contactForm .submit:hover {
  transition: 300ms ease-in-out;
  background: #ffcc33;
  color: #6a1fff;
}

.contactSocial ul {
  display: flex;
}
.contactSocial ul i {
  font-size: 5rem;
  color: #f0f0f0;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.contactInfo ul li:last-child {
  padding-right: 0;
}
.contactInfo a {
  color: #f0f0f0;
  font-size: 2rem;
  padding: 20px 0 0 0;
  text-transform: lowercase;
  text-align: right;
}
.contactInfo a:hover {
  color: #ffcc33;
}
.contactInfo i {
  font-size: 2.5rem;
  padding: 0 10px;
}
.contactInfo .text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 22px;
  padding: 0 10px;
}

@media screen and (max-width: 875px) {
  .contact {
    padding: 50px 10px;
  }
  .contact .contactContainer {
    flex-direction: column;
    margin-top: 0;
  }
  .contact .contactContainer .contactForm {
    width: 100%;
    align-items: center;
  }
  .contact .contactContainer .contactSocial ul,
  .contact .contactContainer .contactInfo {
    justify-content: center;
  }
  .contact .contactContainer .contactSocial ul a,
  .contact .contactContainer .contactInfo a {
    text-align: center;
  }
  .contact .contactContainer .contactSocial ul li {
    padding: 0 15px;
  }
}
@media screen and (max-width: 400px) {
  .contactSocial ul i {
    font-size: 4rem;
  }
  .text {
    font-size: 1.8rem;
  }
}
footer {
  background: #f0f0f0;
  padding: 25px 0;
  text-align: center;
}/*# sourceMappingURL=style.css.map */